<!DOCTYPE html>
<html>
    <head>
        <title>My Django Girls Website</title>
        <!-- Include the static files -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Welcome</h1>
            <p>My goal is a simple blog after many hours</p>
            <h2>Upcoming Events</h2>
            <ul>
                <li>April 12</li>
                <li>April 26</li>
            </ul>
        </main>
        <footer>
            <p>&copy; 2023 My Django Girls Website</p>
        </footer>
    </body>
</html>
